<!--New Task Button  Start-->
<button mat-raised-button color="primary" *ngIf="isSupport" (click)="showNewForm()">
  <mat-icon>library_add</mat-icon>
  <em>New Task</em>
</button>
<!--New Task Button  End-->


<!--Refresh Tasks Button  Start-->
<button mat-raised-button color="primary" (click)="getAllTasks()">
  <mat-icon>refresh</mat-icon>
  <em>Reload</em>
</button>
<!--Refresh Tasks Button  End-->

<!--New Task Form Start-->
<form *ngIf="isSupport && newFormVisible" class="form-signin needs-validation" [formGroup]="newForm" (ngSubmit)="addTask()">
  <h1 class="h3 mb-3 font-weight-normal">New Task</h1>

  <label for="title" class="sr-only">Title</label>
  <input type="text" formControlName="title" class="form-control" placeholder="title" required />

  <label for="description" class="sr-only">Description</label>
  <input type="text" formControlName="description" class="form-control" placeholder="description" required />

  <button mat-raised-button color="primary" class="btn-block" type="submit" [disabled]="!newForm.valid">
    Save
  </button>

  <button mat-raised-button color="warn" class="btn-block" type="reset" (click)="closeNewForm()">
    Cancel
  </button>

</form>
<!--New Task Form End-->


<!--Owned Tasks Start-->
<h1>Tasks</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Assigned To</th>
      <th scope="col">Created</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <ng-container *ngIf="(task.ownerUser.username.toLowerCase() === user.username.toLowerCase()) || isAdmin">
        <td>
          <mat-icon *ngIf="task.completed" style='color:#00d200'>check</mat-icon>
          {{ task.title }}
        </td>
        <td>{{ task.description }}</td>
        <td><span *ngIf="task.assignedToUser">{{task.assignedToUser.username}}</span></td>
        <td>{{ task.created | date: 'EEEE, MM/dd/yyyy, h:mm a'}}</td>
        <td>
          <button mat-icon-button color="primary" [matMenuTriggerFor]="contextMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #contextMenu="matMenu">
            <button mat-raised-button color="warn" (click)="deleteTask(task.id)">
              <mat-icon>delete</mat-icon>
              <em>Delete</em>
            </button>
            <button mat-raised-button color="primary" (click)="openDialog(task)" *ngIf="(task.ownerUser.username.toLowerCase() === user.username.toLowerCase()) && isSupport">
              <mat-icon>send</mat-icon>
              <em>Assign</em>
            </button>
          </mat-menu>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<!--Owned Tasks End-->


<!--My Tasks Start-->
<ng-container *ngIf="isSupport && !isAdmin">
  <h1>Assigned Tasks</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Created</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <ng-container *ngIf="task.assignedToUser && task.assignedToUser.username.toLowerCase() === user.username.toLowerCase()">
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td><span *ngIf="task.assignedToUser">{{task.assignedToUser.username}}</span></td>
          <td>{{ task.created | date: 'EEEE, MM/dd/yyyy, h:mm a'}}</td>
          <td>
            <button mat-icon-button color="primary" [matMenuTriggerFor]="contextMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #contextMenu="matMenu">
              <button mat-raised-button color="primary" (click)="finishTask(task.id)">
                <mat-icon>check</mat-icon>
                <em>Done</em>
              </button>
            </mat-menu>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ng-container>
<!--My Tasks End-->
